In [10]:
import pandas as pd

# Criar Dataframes com base nos Datasets

## Dataframe de Clientes (churn_customers.csv)

In [11]:
# Carregando Dataframe de Clientes
df_clientes = pd.read_csv('../../docs/datasets_aula/churn_customers.csv')
print(f"Arquivo carregado com sucesso, dimensões: {df_clientes.shape}")

Arquivo carregado com sucesso, dimensões: (7043, 5)

In [12]:
# Visualizando as primeiras linhas do dataframe
df_clientes.head()

   customerID  gender  SeniorCitizen Partner Dependents
0  7590-VHVEG  Female              0     Yes         No
1  5575-GNVDE    Male              0      No         No
2  3668-QPYBK    Male              0      No         No
3  7795-CFOCW    Male              0      No         No
4  9237-HQITU  Female              0      No         No

In [13]:
# Visualizando as últimas linhas do dataframe
df_clientes.tail()

      customerID  gender  SeniorCitizen Partner Dependents
7038  6840-RESVB    Male              0     Yes        Yes
7039  2234-XADUH  Female              0     Yes        Yes
7040  4801-JZAZL  Female              0     Yes        Yes
7041  8361-LTMKD    Male              1     Yes         No
7042  3186-AJIEK    Male              0      No         No

In [14]:
# Visualizando as informações do dataframe
df_clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customerID     7043 non-null   object
 1   gender         7043 non-null   object
 2   SeniorCitizen  7043 non-null   int64
 3   Partner        7043 non-null   object
 4   Dependents     7043 non-null   object
dtypes: int64(1), object(4)
memory usage: 275.2+ KB

In [15]:
# Visualizando as estatísticas do dataframe
df_clientes.describe()

       SeniorCitizen
count    7043.000000
mean        0.162147
std         0.368612
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000

## Dataframe de Serviços (churn_services.csv)

In [16]:
# Carregando Dataframe de Serviços
df_services = pd.read_csv('../../docs/datasets_aula/churn_services.csv')
print(f"Arquivo carregado com sucesso, dimensões: {df_services.shape}")

# Visualizando as primeiras linhas do dataframe
print(f"Primeiras linhas do dataframe de serviços:\n {df_services.head(8)}\n")

# Visualizando as últimas linhas do dataframe
print(f"Últimas linhas do dataframe de serviços:\n {df_services.tail(8)}\n")

# Visualizando as informações do dataframe
print(f"Informações do dataframe de serviços:\n")
df_services.info()
print("\n")

# Visualizando as estatísticas do dataframe
print(f"Estatísticas do dataframe de serviços:\n {df_services.describe()}\n")

# Visualizando as colunas do dataframe
print(f"Colunas do dataframe de serviços:\n {df_services.columns}\n")

Arquivo carregado com sucesso, dimensões: (7043, 10)
Primeiras linhas do dataframe de serviços:
    customerID PhoneService     MultipleLines InternetService OnlineSecurity  \
0  7590-VHVEG           No  No phone service             DSL             No
1  5575-GNVDE          Yes                No             DSL            Yes
2  3668-QPYBK          Yes                No             DSL            Yes
3  7795-CFOCW           No  No phone service             DSL            Yes
4  9237-HQITU          Yes                No     Fiber optic             No
5  9305-CDSKC          Yes               Yes     Fiber optic             No
6  1452-KIOVK          Yes               Yes     Fiber optic             No
7  6713-OKOMC           No  No phone service             DSL            Yes

  OnlineBackup DeviceProtection TechSupport StreamingTV StreamingMovies
0          Yes               No          No          No              No
1           No              Yes          No          No              No
2          Yes               No          No          No              No
3           No              Yes         Yes          No              No
4           No               No          No          No              No
5           No              Yes          No         Yes             Yes
6          Yes               No          No         Yes              No
7           No               No          No          No              No

Últimas linhas do dataframe de serviços:
       customerID PhoneService     MultipleLines InternetService  \
7035  8456-QDAVC          Yes                No     Fiber optic
7036  7750-EYXWZ           No  No phone service             DSL
7037  2569-WGERO          Yes                No              No
7038  6840-RESVB          Yes               Yes             DSL
7039  2234-XADUH          Yes               Yes     Fiber optic
7040  4801-JZAZL           No  No phone service             DSL
7041  8361-LTMKD          Yes               Yes     Fiber optic
7042  3186-AJIEK          Yes                No     Fiber optic

           OnlineSecurity         OnlineBackup     DeviceProtection  \
7035                   No                   No                   No
7036                   No                  Yes                  Yes
7037  No internet service  No internet service  No internet service
7038                  Yes                   No                  Yes
7039                   No                  Yes                  Yes
7040                  Yes                   No                   No
7041                   No                   No                   No
7042                  Yes                   No                  Yes

              TechSupport          StreamingTV      StreamingMovies
7035                   No                  Yes                   No
7036                  Yes                  Yes                  Yes
7037  No internet service  No internet service  No internet service
7038                  Yes                  Yes                  Yes
7039                   No                  Yes                  Yes
7040                   No                   No                   No
7041                   No                   No                   No
7042                  Yes                  Yes                  Yes

Informações do dataframe de serviços:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   PhoneService      7043 non-null   object
 2   MultipleLines     7043 non-null   object
 3   InternetService   7043 non-null   object
 4   OnlineSecurity    7043 non-null   object
 5   OnlineBackup      7043 non-null   object
 6   DeviceProtection  7043 non-null   object
 7   TechSupport       7043 non-null   object
 8   StreamingTV       7043 non-null   object
 9   StreamingMovies   7043 non-null   object
dtypes: object(10)
memory usage: 550.4+ KB


Estatísticas do dataframe de serviços:
         customerID PhoneService MultipleLines InternetService OnlineSecurity  \
count         7043         7043          7043            7043           7043
unique        7043            2             3               3              3
top     7590-VHVEG          Yes            No     Fiber optic             No
freq             1         6361          3390            3096           3498

       OnlineBackup DeviceProtection TechSupport StreamingTV StreamingMovies
count          7043             7043        7043        7043            7043
unique            3                3           3           3               3
top              No               No          No          No              No
freq           3088             3095        3473        2810            2785

Colunas do dataframe de serviços:
 Index(['customerID', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies'],
      dtype='object')

## Dataframe de Contratos (churn_contracts.csv)

In [17]:
# Carregando Dataframe de Contratos
df_contracts = pd.read_csv('../../docs/datasets_aula/churn_contracts.csv')
print(f"Arquivo carregado com sucesso, dimensões: {df_contracts.shape}")

# Visualizando as primeiras linhas do dataframe
print(f"Primeiras linhas do dataframe de contratos:\n {df_contracts.head(10)}\n")

# Visualizando as últimas linhas do dataframe
print(f"Últimas linhas do dataframe de contratos:\n {df_contracts.tail(10)}\n")

# Visualizando as informações do dataframe
print(f"Informações do dataframe de contratos:\n")
df_contracts.info()
print("\n")

# Visualizando as estatísticas do dataframe
print(f"Estatísticas do dataframe de contratos:\n {df_contracts.describe()}\n")

# Visualizando as colunas do dataframe
print(f"Colunas do dataframe de contratos:\n {df_contracts.columns}\n")

Arquivo carregado com sucesso, dimensões: (7043, 8)
Primeiras linhas do dataframe de contratos:
    customerID  tenure        Contract PaperlessBilling  \
0  7590-VHVEG       1  Month-to-month              Yes
1  5575-GNVDE      34        One year               No
2  3668-QPYBK       2  Month-to-month              Yes
3  7795-CFOCW      45        One year               No
4  9237-HQITU       2  Month-to-month              Yes
5  9305-CDSKC       8  Month-to-month              Yes
6  1452-KIOVK      22  Month-to-month              Yes
7  6713-OKOMC      10  Month-to-month               No
8  7892-POOKP      28  Month-to-month              Yes
9  6388-TABGU      62        One year               No

               PaymentMethod  MonthlyCharges TotalCharges Churn
0           Electronic check           29.85        29.85    No
1               Mailed check           56.95       1889.5    No
2               Mailed check           53.85       108.15   Yes
3  Bank transfer (automatic)           42.30      1840.75    No
4           Electronic check           70.70       151.65   Yes
5           Electronic check           99.65        820.5   Yes
6    Credit card (automatic)           89.10       1949.4    No
7               Mailed check           29.75        301.9    No
8           Electronic check          104.80      3046.05   Yes
9  Bank transfer (automatic)           56.15      3487.95    No

Últimas linhas do dataframe de contratos:
       customerID  tenure        Contract PaperlessBilling  \
7033  9767-FFLEM      38  Month-to-month              Yes
7034  0639-TSIQW      67  Month-to-month              Yes
7035  8456-QDAVC      19  Month-to-month              Yes
7036  7750-EYXWZ      12        One year               No
7037  2569-WGERO      72        Two year              Yes
7038  6840-RESVB      24        One year              Yes
7039  2234-XADUH      72        One year              Yes
7040  4801-JZAZL      11  Month-to-month              Yes
7041  8361-LTMKD       4  Month-to-month              Yes
7042  3186-AJIEK      66        Two year              Yes

                  PaymentMethod  MonthlyCharges TotalCharges Churn
7033    Credit card (automatic)           69.50      2625.25    No
7034    Credit card (automatic)          102.95      6886.25   Yes
7035  Bank transfer (automatic)           78.70       1495.1    No
7036           Electronic check           60.65        743.3    No
7037  Bank transfer (automatic)           21.15       1419.4    No
7038               Mailed check           84.80       1990.5    No
7039    Credit card (automatic)          103.20       7362.9    No
7040           Electronic check           29.60       346.45    No
7041               Mailed check           74.40        306.6   Yes
7042  Bank transfer (automatic)          105.65       6844.5    No

Informações do dataframe de contratos:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   tenure            7043 non-null   int64
 2   Contract          7043 non-null   object
 3   PaperlessBilling  7043 non-null   object
 4   PaymentMethod     7043 non-null   object
 5   MonthlyCharges    7043 non-null   float64
 6   TotalCharges      7043 non-null   object
 7   Churn             7043 non-null   object
dtypes: float64(1), int64(1), object(6)
memory usage: 440.3+ KB


Estatísticas do dataframe de contratos:
             tenure  MonthlyCharges
count  7043.000000     7043.000000
mean     32.371149       64.761692
std      24.559481       30.090047
min       0.000000       18.250000
25%       9.000000       35.500000
50%      29.000000       70.350000
75%      55.000000       89.850000
max      72.000000      118.750000

Colunas do dataframe de contratos:
 Index(['customerID', 'tenure', 'Contract', 'PaperlessBilling', 'PaymentMethod',
       'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

## Transformação de Dados

In [18]:
# Transformar coluna TotalCharges para float
df_contracts['TotalCharges'] = pd.to_numeric(df_contracts['TotalCharges'], errors='coerce')

# Visualizar as primeiras linhas do dataframe
print(f"Primeiras linhas do dataframe de clientes:\n {df_contracts.head(8)}\n")

# Visualizar as últimas linhas do dataframe
print(f"Últimas linhas do dataframe de clientes:\n {df_contracts.tail(8)}\n")

# Visualizar as informações do dataframe
print(f"Informações do dataframe de clientes:\n")
df_contracts.info()

Primeiras linhas do dataframe de clientes:
    customerID  tenure        Contract PaperlessBilling  \
0  7590-VHVEG       1  Month-to-month              Yes
1  5575-GNVDE      34        One year               No
2  3668-QPYBK       2  Month-to-month              Yes
3  7795-CFOCW      45        One year               No
4  9237-HQITU       2  Month-to-month              Yes
5  9305-CDSKC       8  Month-to-month              Yes
6  1452-KIOVK      22  Month-to-month              Yes
7  6713-OKOMC      10  Month-to-month               No

               PaymentMethod  MonthlyCharges  TotalCharges Churn
0           Electronic check           29.85         29.85    No
1               Mailed check           56.95       1889.50    No
2               Mailed check           53.85        108.15   Yes
3  Bank transfer (automatic)           42.30       1840.75    No
4           Electronic check           70.70        151.65   Yes
5           Electronic check           99.65        820.50   Yes
6    Credit card (automatic)           89.10       1949.40    No
7               Mailed check           29.75        301.90    No

Últimas linhas do dataframe de clientes:
       customerID  tenure        Contract PaperlessBilling  \
7035  8456-QDAVC      19  Month-to-month              Yes
7036  7750-EYXWZ      12        One year               No
7037  2569-WGERO      72        Two year              Yes
7038  6840-RESVB      24        One year              Yes
7039  2234-XADUH      72        One year              Yes
7040  4801-JZAZL      11  Month-to-month              Yes
7041  8361-LTMKD       4  Month-to-month              Yes
7042  3186-AJIEK      66        Two year              Yes

                  PaymentMethod  MonthlyCharges  TotalCharges Churn
7035  Bank transfer (automatic)           78.70       1495.10    No
7036           Electronic check           60.65        743.30    No
7037  Bank transfer (automatic)           21.15       1419.40    No
7038               Mailed check           84.80       1990.50    No
7039    Credit card (automatic)          103.20       7362.90    No
7040           Electronic check           29.60        346.45    No
7041               Mailed check           74.40        306.60   Yes
7042  Bank transfer (automatic)          105.65       6844.50    No

Informações do dataframe de clientes:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   tenure            7043 non-null   int64
 2   Contract          7043 non-null   object
 3   PaperlessBilling  7043 non-null   object
 4   PaymentMethod     7043 non-null   object
 5   MonthlyCharges    7043 non-null   float64
 6   TotalCharges      7032 non-null   float64
 7   Churn             7043 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 440.3+ KB

## 📘 **Resumo de Comandos Principais do `pandas`**

```python
import pandas as pd
```

---

### 📂 **Leitura de Dados**

```python
df = pd.read_csv('arquivo.csv')          # CSV
df = pd.read_excel('arquivo.xlsx')       # Excel
df = pd.read_json('arquivo.json')        # JSON
df = pd.read_sql(query, conexao)         # SQL
df = pd.read_html('url ou arquivo.html') # Tabelas HTML
```

---

### 🧾 **Criação de DataFrame**

```python
df = pd.DataFrame({
    'nome': ['Ana', 'Bruno'],
    'idade': [23, 35]
})
```

---

### 🔍 **Inspeção de Dados**

```python
df.head()             # Primeiras 5 linhas
df.tail()             # Últimas 5 linhas
df.info()             # Resumo do DataFrame
df.describe()         # Estatísticas descritivas
df.shape              # (linhas, colunas)
df.columns            # Nomes das colunas
df.index              # Índices do DataFrame
```

---

### 🎯 **Seleção e Filtros**

```python
df['coluna']                      # Seleção de uma coluna
df[['col1', 'col2']]              # Seleção de múltiplas colunas
df.loc[linha, 'coluna']           # Seleção por rótulo
df.iloc[0, 1]                     # Seleção por índice

df[df['coluna'] > 10]            # Filtro condicional
df.query('coluna == "valor"')    # Filtro com query
```

---

### ✏️ **Manipulação de Dados**

```python
df['nova'] = df['col1'] + df['col2']     # Nova coluna
df.drop('coluna', axis=1)                # Remover coluna
df.drop(0, axis=0)                       # Remover linha
df.rename(columns={'velho': 'novo'})     # Renomear coluna
df.sort_values('coluna', ascending=False) # Ordenar

df.fillna(0)             # Preencher valores nulos
df.dropna()              # Remover valores nulos
df.duplicated()          # Identificar duplicatas
df.drop_duplicates()     # Remover duplicatas
```

---

### 📊 **Estatísticas**

```python
df['coluna'].mean()      # Média
df['coluna'].sum()       # Soma
df['coluna'].min()       # Mínimo
df['coluna'].max()       # Máximo
df['coluna'].value_counts()  # Contagem de valores únicos
```

---

### 🔁 **Agrupamento e Agregação**

```python
df.groupby('coluna').mean()         # Média por grupo
df.groupby(['col1', 'col2']).sum()  # Agregação multi-index
df.pivot_table(index='A', columns='B', values='C', aggfunc='sum')  # Tabela dinâmica
```

---

### 🔗 **Mesclagem e Junções**

```python
pd.concat([df1, df2])                            # Concatenar DataFrames
pd.merge(df1, df2, on='id', how='inner')         # Merge por coluna
```

---

### 🕒 **Datas e Horários**

```python
df['data'] = pd.to_datetime(df['data'])          # Converter para datetime
df['ano'] = df['data'].dt.year                   # Extrair ano
df['mes'] = df['data'].dt.month                  # Extrair mês
```